/****** CSS Reset ****/
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body, 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

html, body {
  font-family: "Montserrat", sans-serif !important;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  color: white;
  font-size: 16pt;
  
}

nav > a > p {
 color: white;
}

p {
  font-size: 14pt;
  color: black;
}

.mediamatiker_überschrift{
  font-size: 32pt;
}


.w3-row-padding img {
  margin-bottom: 12px;
}

/* Set the width of the sidebar to 120px */

.w3-sidebar {
  width: 120px;background: #222;
}

/*Set main background color to #F7F7FF */
.w3-black 
{
  background: #577399 !important;
}

/*.w3-text-light-grey {color: black !important;}*/
.w3-content {
  padding: 12pt;
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
  margin-left: 120px
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0
  }
}

/* Themen Seiten Styling */
.banner {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.themen-bilder {
max-width: 30vw;
height: auto;
margin-bottom: 20px;
}

@media only screen and (min-width: 1350px) {
  .image_left {
    margin-left: 7px;
  }

  .image_right {
    margin-left: 115px;
  }

}

.left-container {
  margin-left: 15% !important;
}

.code-block {
  background-color: #6D8FBF;
  text-align: left;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  border-radius: 10px;
  margin-bottom: 10px;
  color: black;
  overflow: auto;
  border: 20px solid #6D8FBF;
}

.code-block > pre {
  display: inline-block;
}

.w3-content {
  text-align: center;
}

.w3-content > p {
  text-align: left;
}

.w3-content > h2 {
  text-align: left;
}

.image-container-small {
  margin-bottom: 20px;
}

.image-container-small > img {
  margin-left: 10px;
  margin-right: 10px;
}

.card-container {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: 20vw;
    margin: 4vw 2vw 4vw 2vw;
    background-color: #6D8FBF; 

  }
  
  .card-date {
    font-size: 16pt;
    font-weight: bold;
    letter-spacing: 0.05;
    color: black;
    text-align: end;
    padding: 0 1vw;
  }
  .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 20% 80%;
  }
  
  .card-title {
    font-size: 24pt;
    font-weight: 100;
    letter-spacing: 0.05;
    text-transform: uppercase;
    text-align: start;
    color: white;
    padding: 0 1vw;
  }
  
  .card-p {
    font-size: 16pt;
    font-weight: 100;
    letter-spacing: 0.05;
    color: black;
    padding: 0 1vw;
  }
  .card-button {
    text-align: end;
    padding: 0 1vw;
  }
  .card-button a {
    font-size: 18pt;
    font-weight: 100;
    letter-spacing: 0.05;
    color: #334359;
    padding: 0 1vw;
  }
  @media only screen and (max-width: 1350px) {
    .card {
      width: 35vw;
      margin: 4vw 2vw 4vw 2vw;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .card {
      width: 80vw;
      margin: 4vw 2vw 4vw 2vw;
    }
  }

 